# Visual Studio
.vs/
.vscode/
.idea/

# Dotnet
bin/
obj/
out/
publish/

# Nuget
packages/
*.nupkg

# Appsettings
appsettings.Development.json

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# React
node_modules/
dist/
build/

# Env
.env
.env.*
!.env.example 

# Uploads
uploads

# User secrets
secrets.json
*.pfx
*.key

# EF Core migrations backup 
src/Kliniq.Infrastructure/Migrations/